@charset "UTF-8";
.fc-upload-btn{
    position: relative;
    text-align: center;
    cursor: pointer;
    font-style: normal;
    font-family: inherit;
}
.fc-upload-btn input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    cursor: pointer;
}